.sidebar {
    background-color: rgb(134, 17, 125);
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    color: azure;
    padding: 15px;
    text-decoration: none;
    display: block;
}
.sidebar ul,
li {
    list-style-type: none;
}