<div>
    <form [formGroup]="profileForm" (ngSubmit)="submitdata()">

        <input type="text" formControlName="Name"/>
        <span *ngIf="getName.invalid" >error</span>
        <div formGroupName="Address">
            <input type="text" formControlName="FlatNumber"/>
            <input type="text" formControlName="Area"/>
            <input type="text" formControlName="State"/>
            <input type="text" formControlName="City"/>
        </div>
        <h1>Form ARray____________</h1>

        <div formArrayName="Hobbies">
            <div *ngFor="let item of getHobbies.controls;let i=index">
                <input type="text"   [formControlName]="i"  />
           
            </div>
        </div>
        <button type="button" (click)="addhobbies()">Add more hobbies</button>
        <button type="submit">store </button>

    </form>
</div>
