<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
   <add key="conn" value="DataSource=LAPN222321\\MSSQL2019;InitialCatalog=TestDatabase;Integrated Security=true"/>
 </appSettings>
  <connectionStrings>
    <add name="con" connectionString="Data Source=LAPN222321\MSSQL2019;Initial Catalog=AdventureWorks2016;Integrated Security=true"/>
  </connectionStrings>
</configuration>