<div [formGroup]="userprofile">
  <input type="text" placeholder="name" formControlName="name"/>
  <input type="text" placeholder="email" formControlName="email"/>
  <input type="text" placeholder="gender" formControlName="gender"/>
  <input type="text" placeholder="status" formControlName="status"/>
  <input type="text" formControlName="id" readonly/>
  <button type="submit"  (click)="postinfo()">Create</button>
  <button type="button" (click)="updateinfo()" >update</button>
</div>


<table>
  <tr *ngFor="let item of users">
   <td>{{item.id}}</td> 
   <td>{{item.name}}</td> 
   <td>{{item.gender}}</td> 
   <td>{{item.status}}</td>
   <td><button (click)="editinfo(item)">Edit</button></td>
  </tr>
</table>